body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  color: #3f4150;
}

.main {
  width:100%;
  height:100vh;
  background: url(../img/main_3.jpg)no-repeat 50% 0;
  background-size:cover;
  z-index:1;
  position:relative;
  clip-path: polygon( 0 0 , 97% 0 ,100% 94% , 0 100%)
}

.main > .playlist {
  position: absolute;
  z-index: 2;
  top:30%;
  right:25%;
  padding: 40px;
  background-color: #fff;
  border-radius: 6px;
}

.main > .playlist > .title {
  width: 200px;
  margin-bottom: 16px;
}

.main > .playlist > h1 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #3f4150;
}

.main > .playlist > .dropdown {
  position: relative;
  z-index: 1;
  width: 300px;
  margin-bottom: 8px;
}

.main > .playlist > .dropdown > .dropdown-toggle {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  margin-bottom: 10px;
  line-height: 50px;
  color: rgba(133, 136, 150, 0.5);
  text-align: left;
  border: 1px solid rgba(224, 226, 231, 0.75);
  border-radius: 6px;
}

.main > .playlist > .dropdown > .dropdown-toggle.selected {
  color: #3f4150;
  border-color: rgba(224, 226, 231, 1);
}

.main > .playlist > .dropdown > .dropdown-toggle:active {
  border-color: rgba(224, 226, 231, 1);
}

.main > .playlist > .dropdown >.dropdown-menu {
  position: absolute;
  z-index: 2;
  top: calc(100% + 15px);
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: border-color 200ms ease-in, padding 200ms ease-in,
    max-height 200ms ease-in, box-shadow 200ms ease-in;
}

.main > .playlist > .dropdown > .dropdown-menu.show {
  padding: 8px 0;
  max-height: 280px;
  border-color: rgba(224, 226, 231, 0.5);
  box-shadow: 0 4px 9px 0 rgba(63, 65, 80, 0.1);
}

.main > .playlist > .dropdown > ul > li > .dropdown-option {
  width: 100%;
  height: 44px;
  padding: 0 16px;
  line-height: 44px;
  text-align: left;
}

.main > .playlist > .dropdown > ul > li > .dropdown-option:hover {
  background-color: #f8f9fa;
}

.main > .playlist > .play-button {
  position: relative;
  display: block;
  width: 100%;
  height: 44px;
  padding: 0 16px;
  line-height: 44px;
  color: #f8f9fa;
  background-color: #1b1c32;
  border-radius: 6px;
  transition: background-color 150ms ease-in;
}
.main > .playlist > .stop-button {
  position: relative;
  display: none;
  width: 100%;
  height: 44px;
  padding: 0 16px;
  line-height: 44px;
  color: #f8f9fa;
  background-color: #1b1c32;
  border-radius: 6px;
  transition: background-color 150ms ease-in;
}

.main > .playlist > .play-button:disabled {
  background-color: #e0e2e7;
  cursor: not-allowed;
}

.main > .playlist > button:focus{
  border: 1px solid red !important;
}

.main > .playlist > .play {
  position: absolute;
  bottom: -27%;
  left: -4%;
}
.main > .playlist > .play_1 {
  display: none;
}
.main > .playlist > .play_2 {
  display: none;
}
.main > .playlist > .play_3 {
  display: none;
}
.main > .playlist > .play_4 {
  display: none;
}
.main > .playlist > .play_5 {
  display: none;
}